{% extends "registration/base.html" %}

{% block title %}Sign up{% endblock %}

{% block content %}

<div class="col-md-6 col-md-offset-3" id="content-container">
  {% if form.errors %}
  <p class="errors">Please correct the errors below: {{ form.non_field_errors }}</p>
  {% endif %}

  <h2>Registration</h2>
  <h3>New to Waffle Stand? Sign up here!</h3>
  <hr>
  
  <form method="post" action="" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group">
      <label for="id_username" class="col-sm-4 control-label">Username:</label>
      <div class="col-sm-8">
        {% if form.username.errors %}
          <p class="errors">{{ form.username.errors.as_text }}</p>
        {% endif %}
        {{ form.username }}
      </div>
    </div>

    <div class="form-group">
      <label for="id_email" class="col-sm-4 control-label">Email address:</label>
      <div class="col-sm-8">
        {% if form.email.errors %}
          <p class="errors">{{ form.email.errors.as_text }}</p>
        {% endif %}
        {{ form.email }}
      </div>
    </div>

    <div class="form-group">
      <label for="id_password1" class="col-sm-4 control-label">Password:</label>
      <div class="col-sm-8">
        {% if form.password1.errors %}
          <p class="errors">{{ form.password1.errors.as_text }}</p>
        {% endif %}
        {{ form.password1 }}
      </div>
    </div>

    <div class="form-group">
      <label for="id_password2" class="col-sm-4 control-label">Password (again):</label>
      <div class="col-sm-8">
        {% if form.password2.errors %}
          <p class="errors">{{ form.password2.errors.as_text }}</p>
        {% endif %}
        {{ form.password2 }}
      </div>
    </div>
    <hr>
    <div class="form-group">
      <div class="col-sm-offset-4 col-sm-10">
        <button type="submit" class="btn btn-default">Register &rarr;</button>
      </div>
    </div>

  </form>

</div>

  
{% endblock %}

{% block content-related %}
<p>Fill out the form to the left (all fields are required), and your
account will be created; you'll be sent an email with instructions on how
to finish your registration.</p>

<p>We'll only use your email to send you signup instructions. We hate spam
as much as you do.</p>

<p>This account will let you log into the ticket tracker, claim tickets,
and be exempt from spam filtering.</p>
{% endblock %}
