{% extends "base.html" %}
{% block title %} Something Flix {% endblock %}
{% block content %}
	<div class="container container-margin theme-showcase">
		<div class="row">
			{% for movie in movie_list %}
				<div class="col-md-4">
					<h2 class="text-center">{{movie.name}}</h2>
					<p class="text-center">
						{% if movie.release %}
							{{movie.release|date:"M d Y"}}
						{% else %}
							No release date yet
						{% endif %}
					</p>
					{% if movie.poster %}
						<img class='center-block' src="{{movie.poster}}">
					{% endif %}

					{% if user.is_authenticated %}
						{% if movie.name in user_tracking %}
							<input type="button" value="Untrack" class="btn btn-warning center-block" onclick="track({{movie.id}}, this)"/>
						{% else %}
							<input type="button" value="Track" class="btn btn-success center-block" onclick="track({{movie.id}}, this)"/>
						{% endif %}
					{% else %}
					{% endif %}
				</div>
				{% if forloop.counter|divisibleby:3 %}
					</div>
					<div class="row">
				{% endif %}
			{% endfor %}
		</div>
	</div> <!-- /container -->
{% endblock %}
{% block extrajs %}
	{% load staticfiles %}
	<script type="text/javascript" src="{% static "js/index.js" %}"></script>
{% endblock %}
